language: go
sudo: false

matrix:
  include:
    - go: 1.7
    - go: tip

install:
  - # Skip

script:
  - go get -t -v ./...
  - diff -u <(echo -n) <(gofmt -d .)
  - go tool vet .
  - go test -v -race ./... -timeout=10s
